<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445376033321-9fsofml577vf7g85nau2ckqol9i24ddh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445376033321-9fsofml577vf7g85nau2ckqol9i24ddh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>445376033321-7chkupkffqf7ts6frg8eet8dg1n18v1l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8Yz6C1KyR6eEnvScFpp5vOlvyUbN7Hzo</string>
	<key>GCM_SENDER_ID</key>
	<string>445376033321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.machaxi</string>
	<key>PROJECT_ID</key>
	<string>dribble-9a3f6</string>
	<key>STORAGE_BUCKET</key>
	<string>dribble-9a3f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445376033321:ios:49f1df1b7046151f4fa238</string>
	<key>DATABASE_URL</key>
	<string>https://dribble-9a3f6.firebaseio.com</string>
</dict>
</plist>