<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643107953417-vk4d36qa72npto4h9sto0lp0fj73mu7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643107953417-vk4d36qa72npto4h9sto0lp0fj73mu7b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>643107953417-chh9888rvoa8mhk7ip4l6dk4msnc1325.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCyx0GfErFgon-n0ErqVVKeW9whcRFtcms</string>
	<key>GCM_SENDER_ID</key>
	<string>643107953417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.Amydus</string>
	<key>PROJECT_ID</key>
	<string>test-45f5c</string>
	<key>STORAGE_BUCKET</key>
	<string>test-45f5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643107953417:ios:a3e53dd7188871c2</string>
	<key>DATABASE_URL</key>
	<string>https://test-45f5c.firebaseio.com</string>
</dict>
</plist>